[2020-03-02 00:57] max-au opened #1 "e-mail migration"
This issue is to track e-mail migration from "aliased" provides by Google to FastMail.

Migration steps:
1. Set up FastMail account for erlef.org and erlef.com (test/playground) [done]
2. Test migration for erlef.com accounts [done]
3. Create all aliases existing for Google DNS aliases to work via FastMail [done]
4. Replace MX records on google domains with Fastmail MX [blocked]

Google does not a

[2020-03-02 00:59] max-au opened #2 "google groups: figure out replacement"
We need to figure out what to use instead of google groups.
One suggestion was groups.io.
Another variant is some "forum" on the website.

What are other options?

[2020-03-02 17:50] benoitc opened #3 "infrastructure request mail alias"
as we just discussed today, let's create a mail where members can contact us for their infrastructure needs.

I propose to have request-infra@erlef.org. I'm unsure if it should be an alias to main group mail or if we shouldn't setup an account for it. Thought?

[2020-03-02 17:56] benoitc opened #4 "document infrastructure request workflow"
[TO COMPLETE]

[2020-03-03 03:41] max-au commented on #1
Migration was successfully complete.

[2020-03-03 03:41] #1 closed, assigned to nobody

[2020-03-19 08:58] josevalim opened #5 "nitpick: rename this repository to infra-wg"
To be consistent with all other wg. I also suggest adding a small README telling people to check the issues tracker. :) Example: https://github.com/erlef/documentation-wg Thanks!

[2020-03-19 09:46] starbelly commented on #5
I don't disagree with this and we should do the same for marketing as well. Will wait for others to weigh in though. We can most certainly add a README now though.

[2020-03-22 20:15] starbelly commented on #3
I think a separate account makes sense if we want to separate general discussion from requests.

[2020-03-22 20:24] starbelly commented on #2
I like groups.io but I have concerns over too many tools, logins, etc. plus I'm concerned that it may not be used, of course I still very much would like to see us get away from google groups.

A forum on the website is a possibility or perhaps just linking to I believe when I looked at discourse the recommendation was to link to a discourse form vs embed and integrate. I think that would be fine

[2020-03-22 20:24] starbelly commented on #3
@benoitc I wonder if [topicbox](https://www.topicbox.com/) may be a good interface for requests, what do you think?

[2020-04-13 16:19] benoitc opened #6 "document the way we update the website"
document on the website how to update website

[2020-04-13 16:21] benoitc opened #7 "document who to contact for infrastructure requests"
add informations about the way to contact the infrastructure group pon the WG website page and be more precise about what people can ask to us.

[2020-04-13 16:22] benoitc commented on #5
done

[2020-04-13 16:22] #5 closed, assigned to nobody

[2020-04-13 16:23] benoitc commented on #7
related to #3

[2020-04-25 00:50] starbelly commented on #6
@benoitc Currently we are still on gigalixir. Gigalixir uses a git based deploy system ala heroku. This is also what is planned to be built out on vultr, but a much simpler version based around our use case. But, without going into all that right now let me go over the current flow.

1. PRs come into erlef/website, they get approved and merged
2. Depending on the change we might deploy the changes

[2020-04-27 12:25] benoitc commented on #6
Thanks. ok i reckon i  wasn't totally clear about it (wanted to sync with you first). The main goal of the ticket following our last zoom is to document how we can add a page or a section to the website and maintain it.

- [ ] how to create a page or a section (how to discuss this inclusion)
- [ ] how to send a page for review (what's this review process)
- [ ] who to contact for design/ what are

[2020-07-20 16:37] benoitc opened #8 "add fields about mail aliases in wild apricot member profile"
As discussed  in our last meeting, we decided to add 2 fields to the user profile in wild apricot to let the user choose their mail preferences:

- [ ] alias or mailbox
- [ ] address mail

[2020-07-20 16:41] benoitc opened #9 "notify members about the mail preference page"
once the fields are in place, send a mail to the users about it?

[2020-07-20 16:42] benoitc opened #10 "automate mail creation in fastmail"
As suggested by Bryan we can automate the creation of mail acount from the wildapricot api once #8

[2020-07-20 16:43] benoitc commented on #10
some questions in vrac:
* Where would be hosted that script and the credentials for it?
* How could we monitor it?

[2020-07-20 17:05] benoitc opened #11 "Eclipse setup their gitlab. Why not us?"
Following their move in Europe, the Eclipse foundation have  also setup a Gitlab service to host all the repositories. It will comes in addition to their Github :

https://bugs.eclipse.org/bugs/show_bug.cgi?id=537913

They are mainly doing it to open the  Eclipse projects for more people and keep the control on the sources supported by the foundation.

Coming with this idea of using the Foundation

[2020-07-20 17:07] benoitc commented on #2
see #11 also. Maybe we can just replace the whole thing by tickets oriented discussions? ANother way to do it would actuall be having a forum like discourse. Thoughts?

[2020-07-21 04:07] starbelly commented on #10
@benoitc so it would just be a simple script, we could keep it in this repo perhaps, there would be nothing sensitive in it, keys would be pulled in via env vars.

Let's define what it would do:

## Prerequisite :
Presumably members could login to their wildparicot account and tick a box or two stating they would like an erlef address, whether it should be an alias/fowarding address, etc. There wo

[2020-07-21 04:09] starbelly commented on #8
Might be helpful to add a boolean here, `email_active`. I believe address should work like that, but an explicit boolean might be good to have and it can't hurt either.

[2020-07-21 04:10] starbelly commented on #9
👍 Yes, and also, tweet, post on forms, slack, etc.

[2020-07-21 04:13] starbelly commented on #7
Do you think we should only have one way contact method? Email, as an example, but only email.

[2020-07-21 07:52] benoitc commented on #7
hrm it dpends for now, we can only receive private requests via mail but imo we shoudl also encourage open discussions so anyone from the community can participate. That's to say we should probably have both mails and tickets until we are on Github.

Also it is easierto start a discussion on the ticket system anyway so we can track and trace requests in a simple manner. Thoughts?

[2020-07-21 23:49] starbelly commented on #7
Yeah, my thoughts as far having one method is to avoid overlap and fragmentation. I'm fine with at  two and for the reasons you stated... In general open up tickets, if it's sensitive, email us.

[2020-07-21 23:55] starbelly commented on #11
I have no issues going to gitlab what so ever. I generally prefer it. The only hitch is what you already stated, which is maintenance, and I would agree, it's generally automatic. We would have to back up to vultr object storage, in addition to image snapshots.

There's only one thing I would not want us to maintain and that is a CI server. I don't think we really have a strong need for that, erle

[2020-08-26 12:26] benoitc commented on #8
Did we make any progress on it? If you need some help, i can help on it.

[2020-08-29 12:16] peerst commented on #8
Yes actually I need some help.  The field names are specified as for being used by a program.

I need the actual Names that are shown to the members.  They should be as self explanatory as possible.
In addition I need a paragraph of instructions per new filed which tell users more details.

So we are talking about UX for our Members because these fields show up immediately as soon as I activate th

[2020-08-31 15:26] benoitc commented on #8
hrm

what about the following

* **Address mail:** `<TEXT INPUT>` , pre-filled with user@erlef.org
* `<RADIO BUTTON>` **Mail is an alias**

in bold is the text  (or name) for each fields. If checked the radio button will means the user want a mail alias. A text input is used with the address mail, prefilled with `user@erlef.org` .

[2020-08-31 16:41] peerst commented on #8
Without further explanation I don't understand what it means.  And I was there when we discussed it (too long for me to remember) a while ago.

So I guess the UX is not perfect yet

And I'm not sure I can pre-fill things

[2020-08-31 18:16] peerst commented on #8
Again as I said for each field I need

1. Name (visible so it should be as clear as possible self explaining)

1. Description (further explanation)

1. Type

1. User visible yes/no?

1. User editable yes/no?

[2020-08-31 18:54] benoitc commented on #8
I fixed the comment. Gidthub was not displaying the type.

How will it appear on the user page?, instead of name i am suggesting labels like the one above.

[2020-09-09 09:28] benoitc commented on #8
so did it answer to your question? where are we on this topic?

To clarify things again, what we are talking since some months is having the following two simple fields on the member page:

1. email address choice with the initially proposed label "Address mail", this is a text input with a suggestion. Possibly, it should be tested if it's unique across the database
2. choice if it's an alias to t

[2020-09-11 21:08] benoitc opened #12 "why do some emails go in spam?"
Maybe worth to check if we miss some record in the DNS configuration?  This could explain why some mails may go in the spam folder.

[2020-09-11 21:12] starbelly commented on #12
 If this is Re: Daniel then it's not that his mails were going to spam,
he wasn't getting emails on voting but it's because he's not a paying
member.

On 9/11/20 4:08 PM, Benoit Chesneau wrote:

[2020-09-11 21:30] benoitc commented on #12
i think some other people had the mail arriving in the spam folder. check
is easy anyway will do over the weekend.

related to that specific point of membership i opened a ticket on the mkg
group

[2020-09-20 07:45] benoitc commented on #11
interresting to read : https://about.gitlab.com/blog/2020/09/08/gnome-follow-up/

[2020-10-12 05:00] ahw59 commented on #11
I should look out the IT budget numbers for Eclipse but I think they have more than a handful of full-time IT guys. I think we need to stay in SaaS land for the time being

[2020-10-21 22:26] starbelly opened #13 "Add fellows gallery to site"
The idea here is quite simple : Add a page on the site that gives either a list or gallery view of fellows. Each fellow could at least have a short description about the fellow. Possibly be able to click on a fellow to get even more information.

[2020-10-21 22:31] starbelly opened #14 "Add community pages to the site"
Community page(s) include (but not limited to) links to useful resources in the community. For an example of what this would probably end up looking like see https://www.erlang.org/community .

Related issues :

 - https://github.com/erlef/website/issues/214
 - https://github.com/erlef/website/issues/61

[2020-10-21 22:39] starbelly opened #15 "erlef.org mail for paying members MVP - manual mode"
This issue describes the MVP for erlef.org mailing addresses for and is the initial body of work to pave the way to support completing #10.

 In short :

 - Provide a way for paying members to opt in to getting an erlef.org address (form on site, only accessible by paying members)
 - Requests would go to the infra group
 - First member of infra group able to fulfill the request should respond to t

[2020-10-21 22:41] starbelly opened #16 "Audit and resolve any possible security issues with erlef site"
This issue is mostly around making a secondary sweep of the site to ensure we are doing everything possible and to the best of our abilities to provide visitors and members with a secure and private experience.

[2020-10-21 22:54] starbelly opened #17 "Add support for review apps for site contributions"
Currently if someone, including myself does a PR to the website there is no clear visibility into how the changes look, whether they work, etc. Instead it requires the reviewer to pull down the contributors branch, build assets, etc. etc. in order to effectively review a change.

  We should use gigalixir (free tier surely) for spinning up review apps. This is relatively simple https://gigalixir.r

[2020-10-21 22:56] starbelly opened #18 "Document contributing to the site"
Currently, the website app assumes you have a decent knowledge of elixir and phoenix. This may not always be the case, in addition, every elixir / phoenix app is different. There should be clear and concise documentation on how to get involved and contribute for new comers.

[2020-10-21 23:05] starbelly opened #19 "Upgrade to zoom business"
Not sure if it's in our budget, but this idea was raised, and it made sense to me. We're growing, running out of room for meeting times that do not conflict between WGs. In addition, the transcription feature offered at this level might help all working groups, but needs to be tested. Other integrations offered at this level are also appealing. We need to look into what the discounted rate for non

[2020-10-21 23:08] starbelly opened #20 "Offer alternative ways of logging into the site"
It has been suggested that we offer alternative ways of logging into the site and thus wild apricot.

Currently suggestions :

- Decentralized Identity integration / Oauth and ABTnode

[2020-10-21 23:10] starbelly opened #21 "Promotional Suggestion features on the site"
See https://github.com/erlef/website/issues/207 for details.

[2020-10-21 23:14] starbelly opened #22 "Curate content from retired erlang-central"
Erlang central probably surely has  a lot of good content but is now inaccessible. We should discuss curating said content.

[2020-10-21 23:16] starbelly opened #23 "Calendaring and strawpoll support"
Needs definition

[2020-10-21 23:23] starbelly opened #24 "Static sites for working groups"
Some working groups have very custom needs, embedded mostly comes to mind. In order to support such needs it may be optimal to faciliate static sites / content for particular working groups. I'm interested to hear from @peerst on this topic.

[2020-10-21 23:37] starbelly opened #25 "Get non-profit status on github"
We need to reach out to github to get non-profit status and a business/organization level account.

[2020-10-23 17:42] starbelly opened #26 "Finish up erlef_deploy script"
This isn't anything fancy, just a wrapper around ssh, git, etc.

[2020-10-26 21:50] starbelly commented on #3
We might want to consider zendesk or something similar as well. Using a mailbox is good as it's nice and low tech, but there are some cons there... We have to make sure we're responding as `infra-request@` etc. There's room for deleting history as well.

 Some pros to zendesk would be avoiding the two little problems above as well as having some integrations for the infra group (slack, etc.).

Tho

[2020-10-28 17:53] robroyhobbs commented on #20
Proposal to use ArcBlock DID:CONNECT Blocklet to run decentralized login/authentication service that can be integrated with OAuth, or just run as-is.

Note, does not require blockchain any required 3rd party dependencies are built into the software package. This is a simple authentication service and nothing more.

1) Setup ABT Node on a free instance of t2.micro or equivalent.  When setting up th

[2020-11-03 15:32] benoitc commented on #19
or go for an opensource solution?

[2020-11-03 15:33] benoitc commented on #24
what do you mean by "facilitate" ?

[2020-11-03 18:08] starbelly commented on #24
@benoitc basically, support in some way or fashion, even if it's just dropping in static files into `priv/static` and some config to go with it.

[2020-11-03 18:09] starbelly commented on #19
I would love an OSS solution. Last time I previewed them all (about a year ago) they were about as good as google meets and to me that was not good enough.

[2020-11-04 17:55] starbelly opened #27 "Setup hootsuite for marketing group"
- includes setting up slack integrations, etc.

[2020-11-04 17:56] starbelly opened #28 "Setup matamo on website for marketing"

[2020-11-10 01:10] starbelly commented on #25
non-profit status request sent, it can take up to 10 days for the request to be processed.

[2020-11-10 01:23] starbelly commented on #27
Applied for non-profit discount with hootsuite. I expect this to take at least a few days.

Edit: Correction, we got pre approved, waiting for Seb to create the account now.

[2020-11-10 01:49] starbelly commented on #28
Matamo is setup and working. I pulled this back to in progress because I'm awaiting a reply from matamo on non-profit discount information.

[2020-11-10 05:48] benoitc commented on #25
who claim about it and what are the requirements?

[2020-11-10 22:02] starbelly commented on #28
Resolved via

  - https://github.com/erlef/website/pull/227
  - https://github.com/erlef/website/pull/226
  - https://github.com/erlef/website/commit/db9a526eaaaca56386fe419684d0144d4899b580

[2020-11-10 22:03] #28 closed, assigned to nobody

[2020-11-10 22:05] starbelly commented on #15
@benoitc did you have any problems or anything to add to this? The only thing I can think of to tweak is to use zendesk vs an email inbox.

[2020-11-10 22:16] benoitc commented on #27
what are the requirements and who will use it? Do we have a list of the users? We need to keep a list of who will have access to it for privacy reasons. Also we probably need a privacy policy for that.

[2020-11-10 23:52] starbelly commented on #27
@benoitc Primarily the marketing working group.

[2020-11-11 00:06] starbelly commented on #27
Going to punt on setting up integrations, that should be its own ticket. Closing this as resolved.

[2020-11-11 00:06] #27 closed, assigned to nobody

[2020-11-11 08:21] benoitc commented on #24
Why not re-usoing github pages for it? We could have the dns `<WG>.erlef.org` pointing to it. This would makes things maybe easier to manage. Thoughts?

[2020-11-11 22:26] starbelly commented on #16
Resolved via :
   - https://github.com/erlef/website/pull/231
   - https://github.com/erlef/website/pull/229
   - https://github.com/erlef/website/pull/226
   - https://github.com/erlef/website/pull/225
   - https://github.com/erlef/website/pull/224

[2020-11-11 22:26] #16 closed, assigned to nobody

[2020-11-12 22:44] starbelly commented on #26
Resolved via https://github.com/erlef/infra-code/commit/dd78e8334e9d13f5e39e2351726e23ce9c030aba

[2020-11-12 22:44] #26 closed, assigned to nobody

[2020-11-16 17:43] starbelly commented on #15
Having a moment to re-think this... I think we should just put the queue in the website app. Admins can login and see outstanding requests and click a "Process" button on individual requests. This way we avoid the pitfalls of having to have a protocol for email inboxes (which is usually a mess) and can keep the requests more zero-knowledge (i.e., the admin doesn't have to know temporary password s

[2020-11-16 17:45] starbelly commented on #8
Note: All we need is a field to hold the email address. Either pre-populated or populated remotely via the web app.

[2020-11-27 18:52] starbelly commented on #8
I added the following fields which are internal only and only available for the following levels:

 - Annual Supporting Membership
 - Board
 - Fellow
 - Lifetime Supporting Membership
 - Managing and Contributing

Fields:

 - has_mail_alias
    - boolean, set to true or false, indicates whether a user has a mail alias
 - has_mail_box
   - boolean, set to true or false, indicates whether a user has

[2020-11-27 19:02] #8 closed, assigned to peerst, ahw59

[2020-11-27 19:02] #25 closed, assigned to nobody

[2020-11-27 19:02] #14 closed, assigned to nobody

[2020-11-27 19:16] peerst commented on #8
Are these variables, that unlike the ones mentioned further up in the ticket, that will not be seen by the users?

[2020-11-27 19:44] starbelly commented on #8
@peerst that is correct. Members will be able to see the values in the website app.

Edit: I suppose we could surface them in wildapricot profile too as read-only, not sure it's worth it. Thoughts?

Edit: Note that if we want to surface them in wildapricot member profile we need two sets. One set that is read-only and one set that is internal only. The idea here is :

  -  users will opt in for th

[2020-12-09 18:24] starbelly commented on #10
I'm going to take another stab at this after I get a few other things done. The problem to be clear was getting logged in their main api to perform administrative tasks.

[2020-12-10 18:05] starbelly commented on #3
For now and to get the show on the road, I think it should be `infra-requests@` and it should be an inbox. We should follow this protocol with it:

 - A request comes into the inbox.
 - The inbox has a rule to send a copy of the message to our group
 - When the group receives a message, the first person who will take action on the request must reply to the group stating such so that we don't have

[2020-12-10 18:46] #3 closed, assigned to nobody

[2020-12-10 18:49] starbelly commented on #3
https://github.com/erlef/infra-wg/wiki/Request-Protocol

[2020-12-13 21:45] starbelly opened #29 "Quarterly reports to board MVP"
Here is how I think this should generally be implemented:

 1. On a schedule chair(s) of a working group get notifications that it's time to submit the quarterly report for their working group. No notification will be sent out if a quarterly report has already been submitted.
 2. The notification will have a link to the website and will redirect them to a form for submitting quarterly reports.
 3.

[2020-12-13 22:46] starbelly opened #30 "Add page that describes membership levels in no uncertain terms."
Currently, it's not clear what the membership levels are to some people. I've spoken with a few people and they were not aware of what membership is, whether it costs money, etc. The join us link on the site does indeed explain that, but perhaps we need a page on the site itself that outlines this in a familiar way (e.g, https://getbootstrap.com/docs/4.0/examples/pricing/)

[2020-12-14 08:11] benoitc commented on #29
How would the notifications be handled?

As discussed on Slack, I would be for using a github repo to store the reports and manage versionning and interactions inside the board with it. This allows us to maintain one source of truth in term of storage but also prvide for free a ticketing system and versionning using git. Also we shouldn't store a report in the db but as a separate file/object so i

[2020-12-14 08:23] benoitc opened #31 "improve online meeting experience for members/wgs"
this is a followup to #19

As per discussions and feedback around we would like to solve the following

1) conflict schedule: we're growing, running out of room for meeting times that do not conflict between WGs
2) we have some issues to identify the events on the schedule per wg. We should also manage who can be an host.

Other features that could be added:

* transcriptions
* allows people exter

[2020-12-14 08:46] benoitc commented on #31
One obvious Pro of using Zoom is that we already have an account on Zoom so it's "just" a matter of increasing our level on it. The question to solve is how we can manage hosts, and conflict schedule on it? Also do we want to increase our dependency on Zoom?

An alternative to it would be using a **self-hosted solution** and independent solution.

I'm in favour of using [Jitsi](https://jitsi.org)

[2020-12-14 13:50] peerst commented on #31
I'm for shelfing this discussion until we have all important things solved (like calling sponsors, all the tools we need and don't have yet etc etc etc).

We are all doubling in our roles in the EEF and most of us have too much to do anyway.  Spending time on this takes away time for other tasks.  And we need to sum the time for everyone who needs to adapt to a new tool.

If we run out of Zoom slo

[2020-12-14 14:10] benoitc commented on #31
I am not disagreeing.

As of today we can also do both, the Erlang Connect Jitsi platfoorm is here for some time, so we can let people use and test it without using much energy :) Access will be protected soon, so a need list of possible hosts will be needed but other than that nothing  will be added to the list of tasks. If needed a video bridge can be added for a cost  of 15 € / month. That may

[2020-12-14 17:28] starbelly commented on #29
notifications can be handled the way they are for mail for members and soon events. We just use the fastmail smtp server to send out emails.

 I definitely don't disagree there should be less custom tooling. My concern is around time. Specifically, trying to make the below work would take more time that just making a table in the database.  However, the interface(s) will basically be the same. As

[2020-12-15 18:31] starbelly opened #32 "Support wildapricot webhooks"
Going forward we will need to cache some data so that we don't hammer wildapricot's api and in turn suffer from triggering wildapricot api rate limits.

  In order to safely cache some data we need to support webhooks so that we can update data in the application and application's database. The first candidate for said support would be working groups. Specifically, when volunteers are added or rem

[2020-12-15 18:46] starbelly opened #33 "Add search capabilities for blog posts."
Blog posts support tags, we now need the ability to search blog posts for better discoverability. Since blog posts are kept in memory we can do this easily and cheap.

[2020-12-15 18:47] starbelly opened #34 "Improve login for website"
Specifically, we should be able to make use of their login widget on the site to provide better continuity and provide our own nice looking login page.

[2020-12-15 18:51] starbelly opened #35 "Working Group Management tools"
Working Groups need tools available in the the app (website) to facilitate self-management and on-boarding.

 - members should be able to request to join a working group
 - chairs should be able to process these requests
 - chairs should be able to remove volunteers
 - volunteers should be able to upload avatars

Abstract schema:

 ## working_groups
   - id (UUID)
   - name (string)
   - formed (u

[2020-12-17 18:58] starbelly commented on #24
@benoitc That's a possibility. It's unclear how people want things to look.  If it's github pages, there would be no continuity. I think that's important. Thoughts?

EDIT: Note that as pointed out by Fred, the security working group and it's guide is an excellent first candidate for this, unless embedded gets together content sooner.

The name of this issue is "Static sites" but that was just the

[2020-12-17 20:26] benoitc commented on #24
i am not sure what you mean there. Which continuity are we talking? If you want them to appear as a page,  they can be proxied by the main site if needed also.

If we want dynamic website, using tools like [ghost](https://ghost.org) allows you to have a remote site that access to an api. That also feasible with a coming release of barrel...

[2020-12-21 19:02] starbelly opened #36 "Migrate from google groups to discourse"
As discussed we want to move google groups to discourse.

This seems to be the steps in general we must take:

- The box must be setup (@benoitc)
- Working groups chairs/volunteers need to be informed that we will be cutting over (heads up)
- We need to make sure we can login to the instance with wildapricot credentials
- We need to create each group
- On a weekend adjust all the aliases so that e

[2021-01-04 18:42] starbelly commented on #29
@benoitc As discussed at today's meeting we will MVP this with simply providing an upload report button to chairs on the site vs building a full blown user interface to github. Then we can discuss later how we want to iterate this.

EDIT:
Board members will have to communicate with chairs about the report (if necessary) via email for the time being.

[2021-01-07 05:23] starbelly opened #37 "Working Group Calendar support"
We want to give working groups a simple way to create, manage, and display calendars on each working group page.

MVP:
  - Create fastmail calendars for all working groups
     - We do not have to create a calendar for every single working group for the initial rollout, but at least one.
  - Make all calendars public
  - Add links to calendar feeds ~in config~ on working_groups schems.
  - Provide

[2021-01-07 05:24] starbelly commented on #37
Note: While this is titled "working group", the board and it's scheduled meetings and events is to be included.

[2021-01-12 23:43] benoitc commented on #23
what is it about?

[2021-01-13 03:03] starbelly commented on #23
I think this was added per a meeting and I believe it was per your suggestion, but we never defined it. Calendaring support is obviously under way right now, so we should probably rename this and limit the scope to strawpoll support. Better, discuss that in this issue and then open a new one :)

So, we want to have better strawpoll or voting support, in particularly for working groups. There are a

[2021-01-13 06:42] benoitc commented on #23
oh if it was from the meeting the idea is to have a public agenda where WG
post their public meetkng date . So members of the community have an
opportunity to join them. But right, we should describe the expectations.
On Wed 13 Jan 2021 at 04:03 Bryan Paxton <notifications@github.com> wrote:

--
Sent from my Mobile

[2021-01-15 17:40] #37 closed, assigned to nobody

[2021-01-17 19:10] starbelly opened #38 "Add members relation / cache"
This relation is to serve as a cache for wildapricot contact data. This allows us to avoid doing an api request to wildapricot and running into their api request limits. It also affords us proper audit capabilities.

The table would be thus:

`{id, data, deactivated, deactivated_at, inserted_at, updated_at}`

id is the erlef_app_id that is currently generated and stored as an attr in wildapricot.

[2021-01-18 16:54] starbelly opened #39 "Audit Log support"
We need to record all activity that modifies our relations. This is limited to volunteers, chairs, board members, and admins modifying resources in the app.

[2021-01-18 16:56] starbelly opened #40 "Add a generic server in the app that aggregates all public calendars."
The aggregated calendar should be cached in ets, refreshed every few minutes, and made available via http by visitors to the site.

[2021-01-18 16:56] #40 closed, assigned to nobody

[2021-01-18 16:58] starbelly opened #41 "Expose API for app integrations"
We need a simple api to get details about members from the erlef app. Namely, what groups a member belongs to and whether they are a chair of said group.

[2021-01-18 16:59] starbelly commented on #41
We can start off with simply having an api key in the environment to check, later we can make a proper relation for managing api keys.

[2021-01-18 17:01] starbelly opened #42 "Support blogging from the site."
In an effort to make publishing content to the site easier, we should migrate blog posts to the database. We can make a markdown/wsywig editor available for use like we've done for admin tools.

[2021-01-29 02:13] #41 closed, assigned to nobody

[2021-01-29 02:14] #35 closed, assigned to starbelly

[2021-01-29 02:14] #32 closed, assigned to starbelly

[2021-01-29 02:14] #29 closed, assigned to nobody

[2021-02-03 15:35] benoitc commented on #9
I guess this have done @starbelly . Can you summarise the status of what has been done and the feedback of it if any?

[2021-02-03 15:36] benoitc commented on #39
Can you describe  what's needed exactly? For which purpose?

[2021-02-03 15:38] benoitc commented on #23
what is strawpoll support in reltion to a calendar?

[2021-02-03 18:37] starbelly opened #43 "News submission feature"
In order to support the community better we need a place on the site where the community can submit news.

- Login is required to create a submission.
- Submissions go into a queue for moderation.

There may be different classes of submissions:

 - link backs
 - content
 - events

Content is to be in markdown form and the current "standard" markdown editor is to be available in the form.

The form

[2021-02-03 18:37] starbelly opened #44 "Add generic server to poll wildapricot database ever N hours and sync."
Because webhooks can fail, polling acts as a fail safe.

[2021-02-03 18:41] starbelly commented on #39
@benoitc This is to log any action taken by admins, perhaps more than that. We can use this audit log to provide a window to admins (and possibly wg chairs, contributing members etc) what has transpired.

So for admins, think about the activity/audit log that is available in gitlab admin interface.

[2021-02-03 18:50] starbelly commented on #43
What fields should we make available in the form? What is fields are required? Which are optional?

[2021-02-03 21:12] benoitc commented on #43
do we need a form ? Even the bbc is simply using mail and twitter :
https://www.bbc.co.uk/contact/questions/getting-in-touch/send-a-story

[2021-02-03 23:54] starbelly commented on #43
@benoitc On the call, everyone thought that was a good stop gap solution, but if we re-prioritized, we could do via a web form. I thought we were all on the same page, but there was a misunderstanding. I'm not opposed to an email solution, but I do think that information must go into something more manageable.

EDIT:

A few points :

  -  I think it's good for us to have an inbox for this, but thi

[2021-02-04 18:12] starbelly commented on #43
I think in retrospect we should start off with news submissions limited to members. I think we can have an inbox where anonymous submissions go.

EDIT:

To be clear, I don't think we should start off with anonymous submissions. I think even restricting it to members only to start with we'll have plenty to process. I'd rather not start off with people sifting through spam on day one :p

[2021-02-08 21:57] starbelly commented on #43
Note: It's not clear yet whether this will replace the existing events submission form or whether they will compliment each other.

[2021-02-08 22:54] peerst commented on #43
Agree with all you wrote above @starbelly

[2021-02-08 23:41] benoitc commented on #43
i don’t see why we should change the plan that have been already discussed. Allowing non members to post a news allows conference related and other members of the whole ecosystem to post. I don’t think we will be overwhelmed by the number of submissions to worry about any inconvenience.  And again we already discussed about it.

Using email allows us to go faster to show this feature also. we woul

[2021-02-09 00:10] starbelly commented on #43
I think we weren't sure on what we agreed about. Email or something ad-hoc way was originally suggested and sounded ideal if we wanted to get it done that day. However, later in the discussion we agreed (or so I thought) that we need a more systematic way of ingesting suggestions, we simply needed to re-prioritize, which we've done and to which there has been no majority objection.

As far as some

[2021-02-09 01:07] benoitc commented on #43
We agreed on 2 things:

1. The feature should let people external to the foundation (none members) to post news relatives to the ecosystem. So a company employee or a sponsor could also provides some news.
2. We would allow email and a form

As far as I know we already have all the necessaries to handle a mail now... It is not that different from our contact mail.

I would suggest the following:

[2021-02-09 01:18] benoitc opened #45 "GRPD & privacy policy compliant to CA"
we need to clarify for our members what is processed/keept from our members. This is a legal requirements.

[2021-02-09 02:11] starbelly commented on #43
I'm not against email so long as it's an inbox and it's someone's job to sift through it and put into the system that I'm developing now. We should have an abuse policy in place though. So, IMO unless there's objections from others, you have my support.

 I assume the last part means mail will be processed, put into system, then processed and published (if deemed news worthy)

 There is already a

[2021-02-09 02:18] benoitc commented on #43
do we need an « abuse » policy? We are between pro somehow, so a simple paragraph should enough?

[2021-02-09 02:21] starbelly commented on #43
@benoitc That should suffice, and perhaps an auto-reply to the sender maybe.

[2021-02-10 18:32] starbelly opened #46 "Slack oauth support for invites"
We support invites from erlanger, LFE, and surely soon our own slack needs support too.

Legacy tokens were how slacks made invite systems, like we currently provide. However, slack no longer allows creation of legacy tokens, and their usage will eventually be phased out.

In the case that a community slack wants to on board with our slack invite system and they can not create a legacy token (such

[2021-02-10 23:45] starbelly commented on #46
Regretfully, this is not possible. The oauth scope required to invite users is only available to enterprise grid customers.

[2021-02-10 23:45] #46 closed, assigned to nobody

[2021-02-15 23:53] #38 closed, assigned to nobody

[2021-02-15 23:56] starbelly commented on #34
Closing this as not possible. The problem is AFAIK the widget that is made available for tools like wordpress are handled in an insecure manor. That is to say, the username/password for a member must be passed to the server and then on to WA from there. It's fine if there's strong trust between the app and WA, which we have (I would hope), but it's something that should be revisited at a later poi

[2021-02-15 23:56] #34 closed, assigned to nobody

[2021-02-15 23:57] starbelly commented on #13
This was resolved : https://erlef.org/fellows/

[2021-02-15 23:57] #13 closed, assigned to nobody

[2021-02-15 23:58] starbelly commented on #15
This was resolved and launched.

[2021-02-15 23:58] #15 closed, assigned to nobody

[2021-02-17 04:52] starbelly commented on #21
Closing this as obsolete, it's been resolved by the new, news tip feature.

[2021-02-17 04:52] #21 closed, assigned to nobody

[2021-02-25 12:25] gausby commented on #2
I would like to point the attention to sourcehut.org; they offer easy to use mailing-lists for all their members. This would fit in nicely with the rest of the foundation as a member need an email to sign up in the first place. This solution will have threads, such that people can follow discussions of interest to them, and it will have history build in. If we don't want to host it ourselves we ca

[2021-02-26 09:10] josevalim commented on #36
Did we consider using GitHub Discussions for this?

Pros:

  + We are already using GitHub for each WG
  + Nothing to setup
  + Each WG would have its own discussion instead of being a single place (which is a plus once the community starts growing)

Cons:

  + Each WG would have its own discussion instead of being a single place (which is a minus for discoverability)

[2021-02-26 13:18] davydog187 commented on #33
Thoughts on what to index on? Title + body copy?

[2021-02-26 15:58] starbelly commented on #33
Have not thought about that just yet. Currently blog posts are not in the database, ofc that does not mean we can't tackle this ticket now either. Currently blog posts are slurped in on boot and put into an Etso repo as FYI. I have a ticket in flight for migrating blog posts to the database.

[2021-03-07 00:13] benoitc commented on #45
this a must have actually. maybe we should hire a professional for it ? cc @ahw59

[2021-03-07 00:34] benoitc opened #50 "document our assets"
As already discussed, we should ensure not not loose any information on what have been (and is ) done by @starbelly when he was under contract and other assets/tools managed by the WG that the foundation use.

I am creating here a temporary list before we go for a full backlog. I put in it what should be documented for the admins and  other people that would like to  help or join the group. There

[2021-03-07 00:41] benoitc commented on #45
I am starting here a list of items we should have  to build a policy compliant with the GRPD or CA law.

* what third-party services are we using
* what data do we have
* what personal data do we keep. How long?
* what data do we share with third party services
* who have access to the data provided by our members, sponsors and others. in which way
* how do we ensure the right to be forgotten

Any

[2021-03-07 00:50] benoitc commented on #50
also we should probably list how much time is required to operate each to see where we need help :)

[2021-03-07 21:52] starbelly commented on #45
If we want some kind of certification of compliance, then yes we need to hire a professional.

[2021-03-07 23:35] starbelly commented on #50
@benoitc I will carve out a day next week for this. As for some of the things in the list, specifically deployment, etc. it's already documented, we just need to link to it. In factt, most things in that list we will link to other docs. For example, we should not double up on slack's own documentation, nor 1password, etc. etc. We should instead link to their documentation.

As to how much time eac

[2021-03-08 01:00] starbelly opened #51 "Switch stipend proposals to git based and/or db storage."
Currently stipend proposals go to email. This should be changed so that they go to a private repository or into the database.

We had initially talked about it going to a private git repo, and I suppose it still can, but the data also has to go into the database. We are not able to create reports, etc right now and if we simply putting them in a git repo, we will still have that problem.

[2021-03-08 20:32] starbelly opened #52 "Consider switching from matomo to plausible"
Plausible offers pretty much a 1:1 solution for analytics (1:1 to matomo), the difference is plausible is part of our ecosystem. The app is open source, but I would not want to self-host.

https://github.com/plausible/analytics

https://plausible.io/

Please add thoughts and/or concerns.

[2021-03-08 21:02] starbelly commented on #52
https://plausible.io/vs-matomo#what-makes-plausible-a-great-matomo-alternative

[2021-03-08 21:10] starbelly commented on #52
It's also hosted in the EU @benoitc 😁

[2021-03-08 22:13] max-au commented on #50
Where exactly this documentation is located? (DNS setup is almost trivial now, but still has a few quirks worth documenting).

[2021-03-08 22:23] starbelly commented on #50
@max-au So, we're going to put it all here, but documentation for say deployment etc in in erlef/infra-code, which is private. The start of another docs repo was infra-docs also private and not much there yet, I will move what's there into this repo and expand on it. I think we may link to infra-code vs putting docs in this wiki,  as it's still not clear to me whether that should be public or priv

[2021-03-08 23:05] starbelly commented on #50
I was going to carve out a day later this week for this, but I'm just going to nip this in the bud now.

[2021-03-09 02:17] starbelly commented on #50
Note: Some of the things you mention documenting for the website should not be documented here. Application arch is specific to the application, not infrastructure.

Yes, belongs in this wiki

Does not belong in this wiki IMO. I mean, deployments yes, but limited to that. Like it doesn't make sense how to contribute to the website here, that belongs in the website repo.

[2021-03-09 02:57] starbelly commented on #50
Fastmail provides no statistical interfaces AFAIK. It is quite limited in this regard.

[2021-03-09 03:18] starbelly commented on #50
I've added a few initial pages, we actually have to discuss some of the other stuff. Ranging from what belongs here to what really belongs in website documentation. Also, some of the things you are asking for here, it's policies, not operator documentation. That's different scope.

Some other ones I'm confused by :

I don't understand what this means. Generally, no one has access to do this. This

[2021-03-09 04:14] starbelly commented on #50
Note to self: Add onboarding section for working groups and staff members

[2021-03-09 06:07] ahw59 commented on #52
Sounds like a very good idea to me. Especially if it isn't too much work. We should certainly keep it in the family.

[2021-03-09 06:09] benoitc commented on #50
Why this doc has to be private? Until we don’t put in it a password, I don’t see a need to.

Every procedure, who to contact  if any help is needed, where to find an information, must be documented. That the key to decentralize work. we may not have a formal protocol but documenting how things are actually done to update/change any part of the infra should be written. similar to a logbook somehow.

[2021-03-09 06:13] benoitc commented on #50
I understand that. But the doc must exist somewhere. Since this report is a meta repo for all infra,saying where to find the documentation of the website is also useful. also understanding how work publication is useful to link this part of the website from other parts.

[2021-03-09 06:14] ahw59 commented on #50
I'm not sure that is true. Fastmail has a JMAP interface / API that they were pitching at the IETF. In fact it now got accepted at the IETF (see the second link)
https://fastmail.blog/2014/12/23/jmap-a-better-way-to-email/
https://jmap.io/

[2021-03-09 15:16] starbelly commented on #50
Linking makes sense.

[2021-03-09 15:26] starbelly commented on #50
I'm not sure I follow. I mean, I follow jmap and have read a few articles on it, but I think what @benoitc was referring to was an interface in fastmail that would give us statistics on our account/domain overall (e.g., incoming rejection rate for the domain, outgoing deferral rate for the domain, etc.).  For comparrison gmail offers (or offered) such a tool called gmail meter. Unless I misunderst

[2021-03-09 15:41] starbelly commented on #50
I think I ask myself "Why is this useful? Why are we so concerned with making it public?". That said, I don't have a huge problem with making it public but as far as I know no one has reviewed the contents of the repository sans myself, this has to be done first by someone who is not bias. @benoitc

[2021-03-09 17:20] starbelly commented on #52
It should be as simple as signing up, putting their simpler javascript snippet and such in place, create an account for marketing, and then call it a day :)

[2021-03-09 21:28] benoitc commented on #52
@starbelly do we host the metrics ourself right now or do we use an external service?

[2021-03-09 21:48] starbelly commented on #52
@benoitc we do not host ourselves

[2021-03-09 23:20] benoitc commented on #52
@starbelly you closed the issue but what is the resolution?

[2021-03-09 23:24] starbelly commented on #52
Sorry, I meant to close with comment. We have switched to plausible per executive decision.

[2021-03-10 05:59] benoitc commented on #50
Having our doc public helps anyone to figure how we work and can trigger some help. Also beeing open is a good way to share and exchange our method/tools with others.  Lot of orgs I know are doing it for such purpose. There are many others benefit also like ensuring we are following our own values. Open companies like buffer or in some extent Gorman with their handbooks are good example about it.

[2021-03-10 16:19] #52 closed, assigned to nobody

[2021-03-15 18:21] benoitc commented on #30
should be moved to website, and adressed to sponsorship group imo.

[2021-03-15 22:03] benoitc commented on #10
what's the status?

[2021-03-15 22:03] benoitc commented on #6
superseded by #50. we still need it imo.

[2021-03-15 22:03] #6 closed, assigned to benoitc, starbelly

[2021-03-15 22:04] benoitc commented on #4
superseded by #50.

[2021-03-15 22:04] #4 closed, assigned to benoitc

[2021-03-15 22:05] benoitc commented on #11
closing issue. no action since awhile.

[2021-03-15 22:05] #11 closed, assigned to benoitc

[2021-03-15 22:07] benoitc commented on #12
i don't get enough mail these days coming from @erlef.org to see if they still going to spam. I assurme however dns is correctly setup, so let's close this ticket.

[2021-03-15 22:07] #12 closed, assigned to benoitc

[2021-03-15 22:07] starbelly commented on #10
I never looked back into this, it isn't worth the time right now. If someone wants to take a stab at it, by all means feel free. Let me add some color here:

- fastmail api for this (or in general) is not documented
- you can login as a normal user by following a few articles or reverse engineering what happens in fastmail UI
- What I could not do was login as an admin. A few hours got sunk into t

[2021-03-15 22:10] benoitc commented on #50
I think documentation is an important part of making sure anyone can help us. Just tagging issues won't help if we  have no documentation available. Also we should make sure to be able to update the website whatever happen to people. I will create a documentation folde herer and start to create a structure.

[2021-03-15 22:13] starbelly commented on #20
This should be closed IMO. It's clear we don't have time or capacity to take this on at the moment. I don't think it should be altogether dismissed, but I'm not sure when we would be able to get to it and there's a lot to discuss in here.

[2021-03-15 22:13] benoitc commented on #45
@starbelly what third party tools/services are used for the website? What data are shared with them?

So far I see:

* wildapricot
* vultr
* dns ?
* fastmail

what is missing?

Also what data do we collect from members? Do we have a way to easily remove or extract  all the data for a member if requested?

[2021-03-15 22:16] benoitc commented on #51
How having the data in the database helps to create report? One point of having content is github is that we can easily share it with others.

[2021-03-15 22:22] benoitc commented on #39
how log will it be kept? How can it be requested by a member?

Is this a request from the board? I do think we should limit the amount of personal data we get. So I would rather just keep an history of edits rather than a log / people.. it's easier to maintain over the long term.

[2021-03-15 22:25] benoitc commented on #44
how wil it be used? I sthis what will be availabel for others service s that want to access to wildapricot? Why not simply caching wildapricot results in a shared  memory database?

[2021-03-15 22:27] benoitc commented on #10
i think before going to automate it, we should document what is actually done for it.  So let's close it for now and focus on #50?

[2021-03-15 22:29] benoitc commented on #19
there have been some discussions around but I fail to see the need for it. is there any requests from a WG for these features?

[2021-03-15 22:29] starbelly commented on #51
How do we sanely extract the numbers as an example?

[2021-03-15 22:31] benoitc commented on #19
We should summarise we have currently in doc. (related to #50) so we can compare :)

[2021-03-15 22:33] #20 closed, assigned to nobody

[2021-03-15 22:34] benoitc commented on #18
superseded by #50.

[2021-03-15 22:34] #18 closed, assigned to nobody

[2021-03-15 22:34] benoitc commented on #22
closing since no activity since awhile.

[2021-03-15 22:34] #22 closed, assigned to nobody

[2021-03-15 22:35] benoitc commented on #23
@starbelly can you elaborate on it? Maybe it's not needed anymore?

[2021-03-15 22:36] benoitc commented on #9
done long time ago.

[2021-03-15 22:36] #9 closed, assigned to ahw59

[2021-03-15 22:41] starbelly commented on #23
If memory serves correct you wanted this issue created, maybe you created a card and I turned it into an issue. Can't remember, but I added "needs definition" because it wasn't my idea.

[2021-03-15 22:43] benoitc commented on #30
someone from the sponsoring group should help us on that. contacted on their slack.

[2021-03-15 22:49] benoitc commented on #44
move to website project?

[2021-03-15 22:54] benoitc commented on #51
do we need to extract the number programatically? For which usage?

Right now stipends are handled by people that actually forward them by mail and discuss over mail about it. I am not sure we need more at the moment.  Have there been any request about it yet?

[2021-03-15 22:55] benoitc commented on #2
we decided to test  discourse (#36) . Let's keep open this ticket as a meta discussion though.

[2021-03-15 23:00] benoitc commented on #23
Possibly. closing since calendar by WGs have been added. We still miss that calendar on their page though. I will add a proper ticket on the website project.

[2021-03-15 23:00] #23 closed, assigned to starbelly

[2021-03-15 23:09] benoitc commented on #23
https://github.com/erlef/website/issues/282

[2021-03-15 23:18] benoitc commented on #50
we can probably build some metrics from fastmail. But i was more thinking on having the number of users created/deleted/updated/storage size. Elements to watch so we can keep and anticipate  the budget for it

[2021-03-16 00:43] starbelly commented on #50
I definitely agree with that. Since fastmail doesn't seem to have a UI, not like what you want though for this and we have problems with logging in as an admin, what do you suggest?

Let me note that you can login to fastmail, go to the billing details and get some of the numbers you're after. Namely the total number of users we are paying for and a break down of the split of users on a per plan b

[2021-03-16 00:53] starbelly commented on #10
@benoitc yes, and I started on that (in the wiki). The doc could be better though. Will carve out more time this week to take more stabs.

I see you're asking for status : https://github.com/erlef/infra-wg/wiki

[2021-03-16 00:59] starbelly opened #54 "Slack invite duties"
The initial influx of invites is done and it's now down to 1 a day at best, but usually 1 every few days, and I expect that to decline.

Our current system for processing slack invites isn't great, but it works, we have a ticket for making it better but this isn't a priority either. However, what we need to sort out devoid of the system is who is on call and when. I think between myself and the re

[2021-03-16 03:35] starbelly opened #55 "Newsletter system split brain issue"
We kicked off with two newsletter systems (mailchimp and wildapricot) and we need  reduce to one in order to minimize the operative and administrative burdens that come with this, as well as confusion for members.

 Mailchimp is nice, it's much nicer to work with IMO, but in order to really utilize it we would need to sync member email addresses to it and I'd prefer we not.

Wildapricot is not as

[2021-03-16 05:18] starbelly commented on #51
Yes, this came up via sponsorship wg, perhaps @peerst can comment on this.

[2021-03-16 05:28] starbelly commented on #44
This is simply to be used to make sure the cache in the website app and wildapricot are in sync in case of a webhook failure.  I'm not terribly sure how this would be useful outside of that context at the moment, but perhaps maybe could be in the future, and if so we could extract it.

And yes, this should be moved to the website I believe. https://github.com/erlef/website/issues/285

[2021-03-16 05:28] #44 closed, assigned to nobody

[2021-03-16 05:38] starbelly commented on #45
There is also plausible for analytics and honeybadger for error reporting. I believe that covers it.

Data to plausible is completely anonymized, anything that might end up in honeybadger is retained for 15 days.

In the website itself we do not store anything more than an email address and name, the rest are system settings if you will.

[2021-03-16 05:45] starbelly commented on #39
It's a log of actions. And it's for the most part like what you said, history of edits, but also things such as "requested a slack invite", "requested an email address", etc. etc. But it wouldn't hold personal data, it would have a reference to a member record, which only holds two pieces of personal data name and email.

This information can and would be displayed to the user.

[2021-03-16 08:24] benoitc commented on #50
To relay the work started by @starbelly (thanks!) , doc have been started on https://github.com/erlef/infra-wg/wiki

Do we receive notifications on wiki updates? I didn’t get any myself

[2021-03-16 15:53] starbelly commented on #50
I don't believe we do, no. And a comment to add is it's a start, but it's only a start, there are some particular places that indeed could benefit from screenshots, we'll get there. At the moment, I must turn my attention to other matters in the back log, but will carve out more time for this later in the week.

[2021-03-16 19:15] starbelly commented on #33
This one should be on the website, but it's also sort of in limbo per the on-going blog discussion.

[2021-03-16 19:50] benoitc opened #56 "Status page"
We need a status page to show the current status of our services (self-hosted or not). This will help anyone to figure if something wrong, when an update happen etc..

[2021-03-16 19:51] benoitc commented on #55
Is this enough tfor the marketing? What I find interesting in mailhchimp is the possibility to find that newsletter on the website after. Will it be possible with wild apricot?

Also why exporting the member list? Isn't the newsletter independent from the mail to the members and then request an opt-in?

[2021-03-16 22:31] starbelly commented on #55
Members can request to opt out of news letters via wildapricot, to be clear. I don't think the news letter should be seperate, we already have too many things in too many places IMO. Syncing members with mailchimp also is yet another thing to tick off in regards to a GDPR delete request.

So, basically, I'm wanting to simplify and make things less confusing internally and externally.

We can talk

[2021-03-17 21:57] benoitc commented on #54
I have no time to process such invitations. I would rather find a way to automate it or replace slack. I am still wondering why we still want to use such a closed system. On the other hand would paying for it offer more flexibility? Can it be automated if users are using a specific email address?

[2021-03-17 22:01] starbelly commented on #54
@benoitc no, it can not be automated, not without a lot of effort. It can only be automated if we pay for enterprise grid. The only reason we can automate this for erlanger and lfe is they had existing "legacy tokens", but even those will be hard deprecated at some point.

I'm not terribly interested in talking about slack vs other things within the scope of this issue, that's a separate issue IMO

[2021-03-18 00:13] starbelly commented on #55
Marketing team is good with wildapricot to note. We really don't need much since we're using a protocol suggested by @max-au. Specifically, tweets, emails (including news letters) generally shouldn't have much or any content to them, maybe a few brief words. Rather, they should link to something that can easily be changed, which emails, tweets, etc can not be.

Closing this as resolved.

[2021-03-18 00:13] #55 closed, assigned to nobody

[2021-03-18 11:33] benoitc commented on #54
@starbelly Regardless to that I don't think it is ok to say " soon I will be adding other members of the infra group back to the email alias slack invites go to". Threatening (unpaid) people to add them to a mailing-list without their agreement  is not helpful.

Anyway if it's only once a day, I and others may have the time to look at a queue to not read all mails around and decide what have been

[2021-03-18 11:55] peerst commented on #54
@starbelly I can be quite responsive but definitely *not* by email.  If this would show up in a Slack channel I can cover a lot of ground.

Emails will be just ignored for days if not weeks.

@benoitc it would be cool if not every topic around Slack would contain your ceterum censeo that you dislike it and want it replaced.  The people who dislike Slack are a small minority compared to those who l

[2021-03-18 11:57] peerst commented on #54
@starbelly Lets just make a channel

https://slack.com/intl/en-de/help/articles/206819278-Send-emails-to-Slack

And whoever volunteers and prefers emails can be added to the alias

[2021-03-18 11:58] peerst commented on #54
I assume these emails are coming from our website and only vetted members can generate them?

[2021-03-18 12:36] davydog187 commented on #54
Adding a channel sounds good to me 👍

[2021-03-18 12:40] benoitc commented on #54
I am not sure what you mean. I feel it’s a concern if we don’t look at other alternatives, if they can bring less constraints and less dependencies while keeping the UX ok. Like other corporations that not always choose Slack do. It is not about liking or not but to consider there are others options to use .  Even paying for a business plan as I mentioned.

If the solution about maintaining the in

[2021-03-18 12:50] peerst commented on #54
The concern is that the communities live in these Slacks now and are being productive.  This manual invites are no big concern (or if they are its a luxury problem for EEF because we the we would have members coming in in troves).
Even if we provide a alternative people need to adopt them and then there is a phase where the community is split between tools etc. etc.  Normally I'm a friend of being

[2021-03-18 15:49] starbelly commented on #54
I like that idea.

[2021-03-18 20:55] starbelly commented on #54
Closing this as resolved per https://github.com/erlef/website/pull/290 and https://github.com/erlef/website/pull/291

[2021-03-18 20:55] #54 closed, assigned to davydog187, peerst, ahw59, max-au

[2021-03-19 11:03] paulo-ferraz-oliveira commented on #54
This is good food for thought, and I believe touches the central point why moving should be done slowly and carefully. We are already split between two different Slacks (and several members have already expressed worry about this), let alone split between different tools 😄

Should I create an issue to follow-up on progressively moving everything EEF to its proper Slack? i.e. warn and progressively

[2021-03-19 11:38] paulo-ferraz-oliveira commented on #54
These are some of the channels to consider in the "move":

| Erlang | Erlang Ecosystem Foundation |
|-|-|
| beam | no counterpart (not sure it needs to be moved) |
| beam-langs | no counterpart (not sure it needs to be moved) |
| eef | general |
| eef-build-package-wg | build-and-packaging |
| eef-documentation-wg | I don't think this exists anymore (probably can be archived) |
| eef-observability

[2021-03-21 13:26] peerst commented on #54
I think this should be left to the respective WGs and not being imposed on them.  Suggesting it is fine though

[2021-03-21 13:27] paulo-ferraz-oliveira commented on #54
Agree. 👍

[2021-03-27 17:41] paulo-ferraz-oliveira opened #57 "Erlang/OTP release announcements in Slack"
As per a recent discussion in Slack, this Issue formalises the request to check if it's possible/desirable to have, in Erlang announcements, a message every time a new Erlang/OTP version is released. It would probably even be cooler if we could make this (e.g. an action) pluggable into other repo.s so that the maintainers don't have to keep doing the posts manually.

[2021-03-29 10:26] eproxus commented on #57
Hi! I’m the one who set up the messages for Erlang itself. It’s currently being done via Zapier, sponsored by Peer Stritzinger GmbH. It’s a simple Zapier task that checks for new GitHub releases and posts a message in Slack.

(If someone who is admin in the Elixir slack wants the same for Erlang and even Elixir there, let me know. I’d be happy to set it up. I’ve asked in the admin channel there be

[2021-03-29 10:30] eproxus commented on #57
Perhaps a more generic system could be built with GitHub Actions. We could even have a repo with a list of other repos that should be monitored for notifications.

[2021-03-29 10:35] paulo-ferraz-oliveira commented on #57
cc: @starbelly

[2021-03-29 10:46] eproxus commented on #57
Btw, if anyone wants to copy the Zap it's here https://zapier.com/shared/7d8da6025b74898b687299eb4750e50ee82e9e16

[2021-03-29 16:38] starbelly commented on #57
Let's wait until this breaks again and perhaps require more user input as to whether this of value to the community for this group to take on this burden.

[2021-03-29 16:52] starbelly commented on #51
@benoitc How about we have the best of both worlds like we do with board reports? That is, structured form of proposal goes into the database, but also a markdown version of the proposal gets opened as a PR on a private repo?

[2021-03-30 12:38] peerst commented on #51
Not really fond of the everything is done via Github if it works or not.

[2021-03-30 12:40] peerst commented on #51
Why e.g. not handle stipend emails with e.g.Trello?  In embedded WG we use Trello to develop our stipend proposals.  Look which WG is actually doing something in development proposal...

Development cost = 0

Trello boards can be emailed forwarded to (built in) and then proposals can be brought through a flexibly definable process.

[2021-03-30 19:21] starbelly opened #58 "Logging service"
We make use of journalctl for viewing logs, but in general, and especially in regards to long history this is sub-optimal. We need a simple logging service (i.e., that's all it does). https://logflare.app/ comes to mind first.

[2021-03-30 19:45] ahw59 commented on #58
Bryan, please go ahead and set this up ASAP. we need a transaction record. It was quite embarrassing today to appligoze to the ElixirAfrica folks. I had insisted they sign their event up, and then they told me they had 3 weeks ago to no avail... (shot myself in the foot with that one)

[2021-03-30 20:35] starbelly commented on #58
Will do. On the incident, I'm not convinced there's anything wrong. I mean, something went wrong, but as to what is an unknown. I just did a test submission, no problems.

But also, I'm wondering why they didn't reach out 🤔

[2021-04-03 01:51] #57 closed, assigned to nobody

[2021-04-09 01:17] starbelly commented on #58
This was resolved via https://github.com/erlef/website/pull/316

[2021-04-09 01:17] #58 closed, assigned to nobody

[2021-04-09 01:18] starbelly commented on #56
@benoitc Can you expand further and what services we are talking about? I can really only think of one atm and that is the site. That and fastmail.

[2021-04-09 01:21] starbelly commented on #51
I am open to trello myself. I know we discussed this option before and I think the concern was more tooling, but for internal purposes and really at the board level, I think it could be fine.

 I do think regardless of whether it is trello or github, the data should still go in the database. Can we compromise one that setup before discussing trello vs github?

 In other words, can we agree that th

[2021-04-09 01:24] starbelly commented on #43
FWIW and to keep this issue current the marcom team is accepting emails for news suggestions atm, but nothing has come into their inbox yet.

We haven't marketed the news tip feature yet, we can start to do that now I think, but to note, while we haven't marketed it, it is on the site and no one has submitted one yet.

I think we're going to find that the amount of news tips will be very small, at

[2021-04-09 01:27] starbelly commented on #17
Closing this in favor of https://github.com/erlef/website/issues/317

[2021-04-09 01:27] #17 closed, assigned to nobody

[2021-04-09 01:27] starbelly commented on #30
@benoitc Yes, I agree.

[2021-04-13 22:41] starbelly opened #59 "Request for infrastructure assistance with beam-companies.org"
I've been thinking and discussing adhoc with Daniel Widgren about taking erlang-companies.org to beam-companies.org (which I own). Further, taking it to run on the [nova framework](https://github.com/novaframework/nova). If all companies were to be included, this means a static app is problematic (i.e., searching through N entries where N > 500), thus the need for something like nova.

 I'm thinki

[2021-05-24 16:56] benoitc opened #60 "maintain information that must be know by each members"
### Proposal:

make it easier for people that get a role in the foundation (board, members, contributing members, chairs...) to have a place where they can look at to know on what they have access to, what documents they can use ... This would ensure anyone know about what they can expect and check if everything is available for them. The othe rinterrest for tus is to have some kind of checklist/

[2021-05-25 06:27] benoitc commented on #59
what will be the license and how much time would it take? Could it enter a stipend program? I am happy to be the sherpa for it.

[2021-05-25 16:00] max-au commented on #42
I wonder how powerful it can be to enable EEF members blog posts (with moderation, of course) to EEF website. To give an example, some Erlang Solution blogs are simply incredible, and are used as manuals, - for example, famous https://www.erlang-solutions.com/blog/how-to-analyse-a-beam-core-dump/

I have a number of potentially interesting posts that can bump EEF website traffic and recognition in

[2021-05-25 23:50] starbelly commented on #60
There's quite a few things in this issue, so let's start with some of the bullet points to begin with :

 I suppose this would just show whether you are subscribed to the mailing list or not, is that correct?

 This would be a toggle. Note you can currently do this in wildapricot, but it would be a nice-to-have if you didn't have to. Is that correct?

We need documents in well defined places for t

[2021-05-26 00:24] starbelly commented on #59
@benoitc No one was thinking about doing a stipend, the support needed from the foundation would be quite minimal.
Maybe you're thinking a stipend is the best way to go bout getting a budget for this? Literally, what the foundation would need to provide at least initially is a VM on vultr and perhaps pay up the domain for N years just so we wouldn't have to fool with it every year.

As for a licen

[2021-05-26 05:44] benoitc commented on #59
well since it’s an external project to the fondation, yes I think it should
be a stipend driven by this WG. That makes ownerships and expectations
simpler.

On the other hand if their a will to make this project part of the
foundation (transfer its ownership) why not? there is no established
process for it to my knowledge though….

On Wed 26 May 2021 at 02:25, Bryan Paxton ***@***.***> wrote:

--

[2021-05-27 11:29] benoitc commented on #60
I'm not sure why there is a need of to enter in the details of which information we can make public.

To clarify **it can be any information a member should know they have access to depending on their role.**  We all agreed during the last meeting it was something wanted with the goal of making  the process less "organic" and more "organised". It is also based on the least surprise principle. A me

[2021-05-28 00:13] starbelly commented on #59
@benoitc I tried giving erlang-companies to the foundation when the foundation formed, there wasn't interest in it. I'm of course still open to it that as an option.

[2021-06-01 06:26] benoitc commented on #59
Well this id a different topic indeed. But about your request I think this is this is something we need to clarify. If we provide/sponsor infrastructure for the projects we need to define our acceptance level as a group. To be able to eventually accept other projects. We need to define out limits of acceptance vs ownership. Roughly at least. So we can provide an answer to others projects.

[2021-07-05 15:55] benoitc opened #61 "Forum for members and ErlEF followers"
ticket to track the setup of the erlef forum. As the project will grow, more tickets will be linked to it.

### Goal

Setup a place for asynchronous discussions allowing members and ErlEF follower to interract at any tme across the timezone. It will complement the the synchronous media like the Slack and IRC channels.

### Milestones

1. Pending questions resolved for 2020/07/19 meeting
2. **Relea

[2021-07-05 16:05] benoitc commented on #61
i think it wouuld be easier to setup our own instance for it with proper backup. We don't really need HA for now. Discourse can easily be installed to some cloud services using templates . The bonus is that it would makes it easier for us to handle the addition of new services/scripts

We talk sometimes ago to have a way for the member to get its own member ID using its page on the website (cc @st

[2021-07-05 19:15] peerst commented on #61
Sorry don't have bandwidth for this currently

[2021-07-19 15:55] benoitc commented on #61
Wouldn't it be easier to rely  on the email used on wild apricot?

1. The user enter its email used for wild apricot. We check if it's the database and send a mail back to the user with a unique token to reuse. Thoughts?

[2021-09-08 06:26] natalia-chechina opened #62 "Academic projects EEF mailing list"
Hello,

Could you, please, create a mailing list for sending updates and news to academics related to EEF projects? e.g. academia@... Initially, we'd like to use this mailing list to send project ideas suggested by the EEF community that can be done as part of the final year and MSc projects.
* The projects can be seen by the wider community (in case there will be a wider interest in the projects)

[2021-09-26 15:21] max-au commented on #62
This has been done, and @natalia-chechina  assigned as mailing list owner.

[2021-10-14 17:15] KennethL opened #63 "Help with hosting new erlang.org site"
This is a request or rather question at this point from the OTP team regarding if the EEF infra structure WG can assist in hosting a redirect service for the `erlang.org`website.

What we need help to host is: https://github.com/erlang/erlang-org/tree/beta

It is a static website generated using jekyll and a couple of escripts. It can be delivered completely as static assets, no need for a statefu

[2021-10-14 23:49] starbelly commented on #63
I'm 💯 all for this. We can easily spin up a simple web server for this to at least handle the redirects. It may be advantageous to keep the hosting of the site on github to simplify your automated deployment, but we will have to experiment a bit with that. That said, most complicated setup would be a ci/cd pipeline that uploads assets to the web server.

[2021-10-22 16:57] peerst commented on #63
I'm for going forward with netlify

[2021-10-22 16:57] benoitc commented on #63
+1  for me as well, let's figure the details during our next meeting .

[2021-10-22 16:58] starbelly commented on #63
Agreed. Best solution for all is netlify which the EEF via infrastructure working group will gladly sponsor.

[2021-10-25 16:32] max-au commented on #63
Agree with this.

[2021-11-03 17:30] starbelly commented on #63
This has been launched. Won't close the ticket yet as we need to get netlify in our wiki first.

[2021-11-07 21:12] starbelly commented on #63
Added  a brief description here for tracking purposes : https://github.com/erlef/infra-wg/wiki/Netlify

There isn't much else to say. Closing this as resolved.

[2021-11-07 21:12] #63 closed, assigned to benoitc, peerst, ahw59, max-au, starbelly

[2022-02-10 17:34] max-au opened #64 "Infrastructure for Erlang/OTP GitLab-based CI/CD"
Project description: https://docs.google.com/document/d/1uNgQw2fFxtYn7nqhuARKymWODOWGAZ4UQnmja7qkIK4

One approach to implement the CI/CD complimenting GitHub is to use GitLab in CI/CD mode: https://docs.gitlab.com/ee/user/project/integrations/github.html

Prototyping GitLab-based CI/CD for Erlang/OTP requires self-hosted instance of GitLab and a number of custom GitLab runners. The proposed solut

[2022-02-10 17:38] max-au commented on #64
Infrastructure deployed so far:
* GitLab instance has been deployed to https://ci.erlef.org (DigitalOcean VM)
* FreeBSD test runner (DigitalOcean VM, custom runner with Jails)
* Ubuntu 20.04 test runner (custom VM, Docker runner)

Integration enabled:
* prototype integration between GitLab and a fork of Erlang/OTP repo has been set up: https://ci.erlef.org/erlang/otp Be aware this is not a mirror

[2022-02-14 02:48] starbelly opened #65 "Add github integration to eef slack"
This action has already been done, this issue is merely to document it.

On Wednesday, February the 9th, 2022, a member of the security wg requested approval to add github's slack integration to eef slack.

This was approved.

[2022-02-21 04:43] starbelly opened #66 "Setup SPF erlef.org"
There currently is no spf record set for erlef.org or any of it's sub-domains. This can result in messages getting flagged as spam by other providers.

spf record setup referenced here : https://www.fastmail.help/hc/en-us/articles/360060591153-Domains-Advanced-configuration

[2022-02-21 11:21] benoitc commented on #66
We didn't assign the DNS to fast mail right?

[2022-02-21 14:26] peerst opened #67 "Provide a alternative for Google Forms for WG usage"
We have the situation that the WGs need something like Google Forms for submission and collection of stipend requests and similar things.  A while ago we decided that we don't want to put more into Google Docs/Sheets/Forms/Whatever.

Also some of the information are personal information of EU citizens which needs to be handled according to GDPR and Google Forms for sure doesn't have the properties

[2022-02-21 22:03] max-au commented on #66
We host DNS with Namecheap.

I clearly recall setting up SPF (but not DKIM/DMARC) for WildApricot, but I guess I did not document the setup so it is likely to be incomplete or even wrong.

[2022-02-22 00:40] max-au commented on #65
This has been done already, closing the ticket.

[2022-02-22 00:40] #65 closed, assigned to nobody

[2022-02-22 02:37] starbelly commented on #66
I'll take a look shortly.

[2022-02-22 03:33] starbelly commented on #66
@max-au It looked fine to me. I need to get with you on further on how ci.erlef.org is configured. I did modify to a softfail `~all` as was worried about rejections.

Fastmail seems to recommend a neutral all `?all`, but a softfail I think makes more sense. Will revisit further tomorrow.

Edit:

Note: I also configured dkim.

[2022-02-22 06:02] starbelly commented on #62
Closing this as resolved.

[2022-02-22 06:02] #62 closed, assigned to max-au

[2022-02-22 06:20] starbelly commented on #66
I went ahead and looked at this further. The only thing open left to discuss is whether to use hard fail, soft fail, or even neutral.

The happy medium of `~all` once again makes sense to me in general, but it's possible the safest choice is neutral.

This fastmail write up about the problems with SPF I believe highlights why they went with `?all` (neutral) : https://fastmail.blog/advanced/spf-dki

[2022-03-09 19:13] max-au commented on #66
It appears working for me, should we close it now?

[2022-03-09 22:08] #66 closed, assigned to nobody

[2022-03-21 18:46] francescoc opened #68 "Weed Maps Logo"
Can we please add Weedmaps
https://v.fastcdn.co/u/de6a250c/51852861-0-WM-2020.png

to the sponsor page?

[2022-03-21 18:48] francescoc commented on #68
@benoitc

[2022-03-23 00:10] starbelly commented on #68
@francescoc This is done. Check it out before we close out the issue.

[2022-04-06 15:05] peerst opened #69 "Provide hosted getoutline to WG as a replacement for Google docs"
This is a request initiated from the Security WG as a replacement for Google Docs:

Someone told us they had very good experience in their company with

[https://www.getoutline.com](https://www.getoutline.com)

It has a pricing model which is quite scalable to our needs I think.

[2022-04-06 15:08] peerst commented on #67
Not much going on with issues here it seems.

There is now a concrete suggestion for a hosted notes taking service in #67

[2022-04-20 15:40] peerst opened #70 "The Zoom accounts for WGs need to be documented somehow because they are not really working out"
After the decision to give every WG their own Zoom account to avoid Bryan having to do more and more complex juggling with the existing accounts to avoid collisions (which then happened anyway because dates were moved) I was expecting things to get better.

But so far most of the WG chairs I'm talking to have no idea if there is a Zoom account for the group, how to access it etc.

We need a better

[2022-04-20 17:11] benoitc commented on #69
what are the reuqirements of the WG security group?

[2022-04-20 17:11] benoitc commented on #68
@francescoc ?

[2022-04-21 00:50] starbelly commented on #70
The simplest thing to do would be to add documentation to the wiki here on github and point people to it.

We didn't give every WG a zoom account, we only gave WGs who are clearly active an account. When this was setup each one was contacted and I went over where username/password's are kept, got them access to 1password, etc.

Could it be the chair's you spoke with were not in the list of working

[2022-04-21 01:52] starbelly commented on #69
On the surface this looks quite nice, I can see it being valuable at work. I'll try it out soon.

[2022-04-21 07:37] peerst commented on #70
My two datapoints were Education and Embedded WG.

For Education you gave me some credentials I think but Miriam who is the actual chair knows nothing of it.

In Education Natalia also doesn't know about the Zoom account.

Maybe they both just forgot about it, we are all spinning too many plates.  Two failing data points I thought, maybe we need to do something about the process

[2022-04-21 07:39] peerst commented on #70
Also TBH while I'm only the co chair the whole Zoom account is also opaque for me, mainly because I'm logged into our companies account and didn't have time to go in dig.  So when we document we need to take into account that people are logged into other Zoom accounts often.

We should try to keep the friction of running a WG as low as possible otherwise we run out of people willing to chair WGs s

[2022-04-21 07:48] peerst commented on #69
Seriously?  We are telling people to avoid using Google Apps and that we will offer alternatives.  Nothing happened on this so far.

Most WG just ignore and use Google Docs for meeting notes since there is no alternative.

Now security WG took it more serious and actually provided us with a suggestion with sensible pricing, basically doing our work.  I've passed this on.

But in general people in

[2022-05-06 10:10] peerst opened #71 "Setting up Education WG with accounts"
The alias for education WG was wrongly pointing to me and not Miriam.  Thats why she never got the Zoom account invite.  Also there was no calendar account existent for Education WG and no calendars.

Did the following things today:

1. Fixed the chair alias to point to the actual chair
2. Created a new Zoom account for education (the old one timed out)
3. Created a calendar account for the WG
4.

[2022-06-28 16:18] francescoc opened #72 "New Sponsor"
Hi,
Can you please add HCA healthcare logo to the sponsors page: https://media-exp2.licdn.com/dms/image/C4E0BAQGN32sqDLxzNg/company-logo_200_200/0/1609865012021?e=1664409600&v=beta&t=NNNVF9va_pi9VG8o930nIPwATPmyr5RqUsu5THaPjzo

[2022-06-28 18:15] starbelly commented on #72
Resolved.

[2022-06-28 18:15] #72 closed, assigned to nobody

[2022-06-28 18:15] starbelly commented on #68
Closing as resolved

[2022-06-28 18:15] #68 closed, assigned to nobody

[2022-07-14 11:50] peerst commented on #71
I think we are done with this now

[2022-07-14 11:50] #71 closed, assigned to starbelly

[2022-08-30 11:45] sstrollo opened #73 "Add new sponsor logo"
Please add Revelry logo to sponsorship page.

Thanks,

/Sebastian

[revelry-logos.zip](https://github.com/erlef/infra-wg/files/9452458/revelry-logos.zip)

[2022-08-30 11:46] sstrollo commented on #73
Revelry site: https://revelry.co/

[2022-08-31 22:52] starbelly commented on #73
Done ;)

[2022-08-31 22:52] #73 closed, assigned to nobody

[2022-09-19 11:29] francescoc opened #74 "Sponsorship Logo Change"
Simpli.fi has rebranded to Mainmatter: https://mainmatter.com/blog/2022/09/18/simplabs-becomes-mainmatter/

Can you please update the logo and any links on the sponsorship page? New Logo attached.
<img width="415" alt="mainmatter" src="https://user-images.githubusercontent.com/979065/191007641-4cc4daa6-653a-4a75-bba6-443b60b24cd9.png">

[2022-09-19 12:21] francescoc commented on #74
Apparently, they sent a pull request for the website. If ok, please merge it.

[2022-09-23 19:28] starbelly commented on #74
Done 😄

[2022-09-23 19:28] #74 closed, assigned to nobody

[2022-10-28 17:08] francescoc opened #75 "New Sponsor"
Can you please add Alembic to the sponsor page. Payment cleared months ago.

logo can be found here:

https://alembic.com.au/_next/static/media/alembic-logo.d5371a3e.svg

and should point to

https://alembic.com.au/

[2022-10-31 14:46] starbelly commented on #75
This has been done. I'll probably circle back at the end of the day and give there logo a touch up as far dimensions go. Square works best.

[2022-10-31 14:46] #75 closed, assigned to nobody